body{   
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
}
.align{ 
    margin-left: 80%;
    margin-top: 10%;
    align-items: center;
}
.main{
    width: 260px;
    height: 340px;
    background-color:rgba(4, 25, 48, 0.8);
    color: #fff;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:Arial, Helvetica, sans-serif;
} 
.top{
    width: 280px;
}  
.top img{
    width: 27px;
    height: 27px;
    
}
.title{
    font-size: large;
    font-weight:bolder;
}
.dot{
    text-decoration: none;
    font-weight: bolder;
    font-size:xx-large;
    align-items: right;
    color: #fff;
    text-align: right;
    justify-content: flex-end;
    cursor: pointer;
}
.dot:hover{
    color:rgb(200, 199, 199);
    transition: .4s;
}
.bolt{
    font-size: 40px;
}
.light{
    opacity: .7;
    font-size:small;
    font-weight:lighter;
    padding: 5px;
    font-weight: bold;
}
.process{
    width: 280px;
    height: 90px;
}
.uline{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.lite-bold{
    font-size: xx-large;
}
.btn{
    background-color:rgba(78, 85, 93, 0.5);
    margin-top: 10px;
    width: 290px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif; 
}
.btn img{
    width: 35px;
    height: 20px;
    padding-top: 2px;
}
.btn:hover{
    background-color:rgba(17, 18, 18, 0.6) ;
}
.set{
    width: 17px;
    height: 17px;
    padding-top: 4px;
    padding-right: 4px;
}
.light img{
    width: 15px;
    height: 15px;
}
.process {
    text-decoration: none;
}
.setting{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.cent{
    margin-left: auto; 
    margin-right: auto;
}